* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent; /* Added darker color */
    border-bottom: 0px solid rgba(30, 31, 32, 0.5); /* Added color to the bottom border */
    color: #eb4d4b; /* Changed font color to match theme */
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent; 
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: #272829; /* Changed hover color to match theme */
}

#workspaces button {
    background-color: transparent;
    color: #eb4d4b; /* Changed font color to match theme */
}

#workspaces button:hover {
    background-color: rgba(25, 36, 71, 0.3); /* Changed hover color to match theme */
    border-radius: 4rem; /* Increased border radius for a smoother look */
}

#workspaces button.active {
    background-color: #272829; /* Added darker color */
    border-radius: 4rem; /* Increased border radius for a smoother look */
}

#workspaces button.urgent {
    color: #eb4d4b; /* Changed font color to match theme */
}

#clock,
#battery,
#idle_inhibitor,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#window,
#workspaces {
    padding: 0 4px;
    margin: 2px; 
    color: #ffffff; /* Changed font color to match theme */
    background-color: #363738; /* Added darker color */
    border-radius: 4px; /* Increased border radius for a smoother look */
}

window.empty #window {
    background-color: transparent;
}

#workspaces button.empty {
    color: #6c7073; /* Changed font color to match theme */
}

#backlight {
    padding: 0 8px; 
}

#idle_inhibitor {
    padding-right: 6px;
}

#battery {
    padding-right: 1em;
}

#battery.charging, #battery.plugged {
    color: #40c4ff; /* Changed font color to match theme */
}

#battery.critical:not(.charging) {
    background-color: #d9534f; /* Added darker and more contrasty color */
    color: #ffffff; /* Changed font color to match theme */
    animation-name: blink;
    animation-duration: 0.8s; /* Increased duration of blinking effect */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
  padding-right: 1em;
}

#tray > .needs-attention {
    color: #d9534f; /* Changed font color to match theme */}
