* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
    /*border-bottom: 0px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent; 
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: rgba(60, 76, 89, 0.3);
    border-radius: 2rem;
}

#workspaces button.active {
    background-color: #071521;
    border-radius: 2rem;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#window,
#workspaces {
    padding: 0 4px;
    margin: 2px; 
    color: #ffffff;
    background-color: #272829;
    border-radius: 4px;
}

window.empty #window {
    background-color: transparent;
}

#workspaces button.empty {
    color: #5f6266;
}

#backlight {
    padding: 0 8px; 
}

#battery {
    padding-right: 1em;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
  padding-right: 1em;
}

#tray > .needs-attention {
    color: #eb4d4b;
}
